
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0 auto;
}

.instructions-container{
text-align: center;
font-weight: 900;
}

h3{
text-align: center;
}

.container{
  background-color: #87ceeb;
}
