<div class="form-group">
  <label for="title">Email</label>
  <input type="text" class="form-control" id="form-email-address" name="email" placeholder="E-mail" />

  <label for="title">Name</label>
  <input type="text" class="form-control" id="form-name" name="name" placeholder="Name (First, Last)" />

  <label for="title">Phone</label>
  <input type="text" class="form-control" id="form-phone-number" name="phone" placeholder="404-404-4040" />

  <label for="title">Twitter</label>
  <input type="text" class="form-control" id="form-twitter" name="twitter" placeholder="@JackMack" />

  <label for="title">linkedin</label>
  <input type="text" class="form-control" id="form-linkedin" name="linkedin" placeholder="LinkedIn" />

  <button class="btn btn-sm btn-danger pull-right clickme"> Submit</button>

</div>
